<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522983519525-8vln7g0f2b88a5prhmrgro07s76u86kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522983519525-8vln7g0f2b88a5prhmrgro07s76u86kb</string>
	<key>API_KEY</key>
	<string>AIzaSyAB026yPRvjKixOONcm8rehgsNNhLnuN1o</string>
	<key>GCM_SENDER_ID</key>
	<string>522983519525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helpdesk</string>
	<key>PROJECT_ID</key>
	<string>cs-helpdesk</string>
	<key>STORAGE_BUCKET</key>
	<string>cs-helpdesk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522983519525:ios:20c8f134c89194e14516cc</string>
</dict>
</plist>